ikea-rodret-to-shelly-dimmer2.json
[
    {
        "id": "543f01fa9d3bb6e1",
        "type": "tab",
        "label": "Office",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78ef0c607b874564",
        "type": "switch",
        "z": "543f01fa9d3bb6e1",
        "name": "Messages",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "23f8d853881c7443"
            ],
            [
                "d7600d96f48d4119"
            ],
            [
                "3d70a5c0a7fa033b"
            ],
            [
                "0d7fd2ab3b88c612",
                "d298678c36657498"
            ],
            [
                "661045cdc192c02a",
                "d298678c36657498"
            ]
        ]
    },
    {
        "id": "0d7fd2ab3b88c612",
        "type": "function",
        "z": "543f01fa9d3bb6e1",
        "name": "Brightness Up",
        "func": "// Brightness Up\n\nvar step = flow.get(\"dimmerStep\");\nvar bulb =  flow.get(\"bulbState\");\nmsg.payload = {};\n\nif (!bulb.ison) {\n    msg.payload.turn = \"on\";\n    bulb.brightness = 1;\n}\n\nbulb.brightness = bulb.brightness + step;\n\nif (bulb.brightness >= 100) {\n    bulb.brightness = 100;\n    flow.set('press', false);\n}\n\nflow.set(\"bulbState\", bulb);\nmsg.payload.brightness = bulb.brightness;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "50d1c26c8fdf5402",
                "a68d518e20993dd6"
            ]
        ]
    },
    {
        "id": "661045cdc192c02a",
        "type": "function",
        "z": "543f01fa9d3bb6e1",
        "name": "Brightness Down",
        "func": "// Brightness Down\n\nvar step = flow.get(\"dimmerStep\");\nvar bulb = flow.get(\"bulbState\");\nmsg.payload = {};\n\nif (!bulb.ison) {\n    msg.payload.turn = \"on\";\n}\n\nbulb.brightness = bulb.brightness - step;\n\nif (bulb.brightness <= 0) {\n    bulb.brightness = 0;\n    msg.payload.turn = \"off\";\n    flow.set('press', false);\n}\n\nflow.set(\"bulbState\", bulb);\nmsg.payload.brightness = bulb.brightness;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 640,
        "wires": [
            [
                "b5b6cccb5fd508ba",
                "a68d518e20993dd6"
            ]
        ]
    },
    {
        "id": "91dbfc23759cf617",
        "type": "switch",
        "z": "543f01fa9d3bb6e1",
        "name": "Control The Loop",
        "property": "press",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 740,
        "wires": [
            [
                "661045cdc192c02a"
            ]
        ]
    },
    {
        "id": "9899940c7dbdb115",
        "type": "switch",
        "z": "543f01fa9d3bb6e1",
        "name": "Control The Loop",
        "property": "press",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 580,
        "wires": [
            [
                "0d7fd2ab3b88c612"
            ]
        ]
    },
    {
        "id": "50d1c26c8fdf5402",
        "type": "delay",
        "z": "543f01fa9d3bb6e1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 580,
        "wires": [
            [
                "9899940c7dbdb115"
            ]
        ]
    },
    {
        "id": "b5b6cccb5fd508ba",
        "type": "delay",
        "z": "543f01fa9d3bb6e1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 740,
        "wires": [
            [
                "91dbfc23759cf617"
            ]
        ]
    },
    {
        "id": "d298678c36657498",
        "type": "change",
        "z": "543f01fa9d3bb6e1",
        "name": "Start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "5eb3541867be9053"
            ]
        ]
    },
    {
        "id": "3d70a5c0a7fa033b",
        "type": "change",
        "z": "543f01fa9d3bb6e1",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "5eb3541867be9053"
            ]
        ]
    },
    {
        "id": "5eb3541867be9053",
        "type": "change",
        "z": "543f01fa9d3bb6e1",
        "name": "Control The Loop",
        "rules": [
            {
                "t": "set",
                "p": "press",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "18490eabf6a8efa5",
        "type": "mqtt in",
        "z": "543f01fa9d3bb6e1",
        "name": "Shelly Dimmer 2",
        "topic": "shellies/shellydimmer2-C45BBE791FC6/light/0/status",
        "qos": "2",
        "datatype": "json",
        "broker": "92389a82186fb042",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "9bc5fdf822872ebd"
            ]
        ]
    },
    {
        "id": "58757cf1d8238da6",
        "type": "mqtt out",
        "z": "543f01fa9d3bb6e1",
        "name": "Shelly Dimmer 2 - Office Door",
        "topic": "shellies/shellydimmer2-C45BBE791FC6/light/0/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92389a82186fb042",
        "x": 1270,
        "y": 400,
        "wires": []
    },
    {
        "id": "9bc5fdf822872ebd",
        "type": "delay",
        "z": "543f01fa9d3bb6e1",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "2462084314145cc6"
            ]
        ]
    },
    {
        "id": "1e7060b448c6b88f",
        "type": "mqtt in",
        "z": "543f01fa9d3bb6e1",
        "name": "IKEA RODRET",
        "topic": "zigbee2mqtt/Office Controller",
        "qos": "1",
        "datatype": "json",
        "broker": "92389a82186fb042",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "78ef0c607b874564"
            ]
        ]
    },
    {
        "id": "d7600d96f48d4119",
        "type": "change",
        "z": "543f01fa9d3bb6e1",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"turn\": \"off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "a68d518e20993dd6"
            ]
        ]
    },
    {
        "id": "2462084314145cc6",
        "type": "change",
        "z": "543f01fa9d3bb6e1",
        "name": "Get Bulb State",
        "rules": [
            {
                "t": "set",
                "p": "bulbState",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "bulbState.brightness",
                "pt": "flow",
                "to": "payload.brightness",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bulbState.ison",
                "pt": "flow",
                "to": "payload.ison",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "7402a2958536b950"
            ]
        ]
    },
    {
        "id": "23f8d853881c7443",
        "type": "function",
        "z": "543f01fa9d3bb6e1",
        "name": "On",
        "func": "// On\n\nvar bulb = flow.get(\"bulbState\");\nmsg.payload = {};\n\nif (bulb.ison && bulb.brightness < 100) {\n    msg.payload.brightness = 100;\n}\n\nmsg.payload.turn = \"on\";\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "a68d518e20993dd6"
            ]
        ]
    },
    {
        "id": "82fc7c1775558353",
        "type": "inject",
        "z": "543f01fa9d3bb6e1",
        "name": "Init Vars",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "4aca96bea6f5a58d"
            ]
        ]
    },
    {
        "id": "4aca96bea6f5a58d",
        "type": "function",
        "z": "543f01fa9d3bb6e1",
        "name": "Set Initial Defaults",
        "func": "if (flow.get(\"bulbState\") === undefined) {\n    var bulb = {\n        \"ison\": false,\n        \"brightness\": 50\n    };\n    flow.set(\"bulbState\", bulb);\n}\n\nflow.set(\"dimmerStep\", 10);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7402a2958536b950",
        "type": "debug",
        "z": "543f01fa9d3bb6e1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "7487e3ea50816b6f",
        "type": "debug",
        "z": "543f01fa9d3bb6e1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 320,
        "wires": []
    },
    {
        "id": "4bf5f136096e8b97",
        "type": "comment",
        "z": "543f01fa9d3bb6e1",
        "name": "IKEA RODRET Controller and Shelly Dimmer 2",
        "info": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "26f86fb7e4109092",
        "type": "mqtt out",
        "z": "543f01fa9d3bb6e1",
        "name": "Shelly Dimmer 2 - Office Desk",
        "topic": "shellies/shellydimmer2-C45BBE77DC81/light/0/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92389a82186fb042",
        "x": 1270,
        "y": 460,
        "wires": []
    },
    {
        "id": "a68d518e20993dd6",
        "type": "change",
        "z": "543f01fa9d3bb6e1",
        "name": "Join",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "7487e3ea50816b6f",
                "58757cf1d8238da6",
                "26f86fb7e4109092"
            ]
        ]
    },
    {
        "id": "92389a82186fb042",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]