subflow-ikea-rodret.json
[
    {
        "id": "a4b8be9105548a3c",
        "type": "subflow",
        "name": "Subflow: RODRET to TRADFRI or Hue",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1240,
                "y": 320,
                "wires": [
                    {
                        "id": "6b30d78ce40a8d17",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1190,
                "y": 160,
                "wires": [
                    {
                        "id": "fa678934663e91cf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "lightInEntity",
                "type": "str",
                "value": ""
            },
            {
                "name": "lightOutEntity",
                "type": "str",
                "value": ""
            },
            {
                "name": "buttonEntity",
                "type": "str",
                "value": ""
            },
            {
                "name": "dimmerStep",
                "type": "num",
                "value": "25"
            },
            {
                "name": "lightInTopic",
                "type": "env",
                "value": "zigbee2mqtt/${lightInEntity}"
            },
            {
                "name": "lightOutTopic",
                "type": "env",
                "value": "zigbee2mqtt/${lightOutEntity}/set"
            },
            {
                "name": "buttonTopic",
                "type": "env",
                "value": "zigbee2mqtt/${buttonEntity}"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "MQTT TRADFRI or Hue Bulb",
            "Bulb State"
        ]
    },
    {
        "id": "a503a63d8726a441",
        "type": "switch",
        "z": "a4b8be9105548a3c",
        "name": "Messages",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_down",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "8d8d29e31c05e458"
            ],
            [
                "60a4cb26d33d4692"
            ],
            [
                "1b810cc64485f46f"
            ],
            [
                "d5eb4c4d7856c0f2"
            ],
            [
                "7448a65910d4718e"
            ]
        ]
    },
    {
        "id": "908a1797be135732",
        "type": "mqtt in",
        "z": "a4b8be9105548a3c",
        "name": "IKEA Light",
        "topic": "${lightInTopic}",
        "qos": "2",
        "datatype": "json",
        "broker": "92389a82186fb042",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "dd665326d2d4c7a4"
            ]
        ]
    },
    {
        "id": "dd665326d2d4c7a4",
        "type": "delay",
        "z": "a4b8be9105548a3c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "fa678934663e91cf"
            ]
        ]
    },
    {
        "id": "77acabfd913f824d",
        "type": "mqtt in",
        "z": "a4b8be9105548a3c",
        "name": "IKEA RODRET",
        "topic": "${buttonTopic}",
        "qos": "1",
        "datatype": "json",
        "broker": "92389a82186fb042",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "a503a63d8726a441"
            ]
        ]
    },
    {
        "id": "60a4cb26d33d4692",
        "type": "change",
        "z": "a4b8be9105548a3c",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"state\": \"off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "6b30d78ce40a8d17"
            ]
        ]
    },
    {
        "id": "fa678934663e91cf",
        "type": "change",
        "z": "a4b8be9105548a3c",
        "name": "Update Bulb State",
        "rules": [
            {
                "t": "set",
                "p": "bulbState",
                "pt": "flow",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "bulbState.brightness",
                "pt": "flow",
                "to": "payload.brightness",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bulbState.state",
                "pt": "flow",
                "to": "payload.state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8d8d29e31c05e458",
        "type": "function",
        "z": "a4b8be9105548a3c",
        "name": "On",
        "func": "// On\n\nvar bulb = flow.get(\"bulbState\");\nmsg.payload = {};\n\nif (bulb.state.toLowerCase() === \"on\" && bulb.brightness < 254) {\n    msg.payload.brightness = 254;\n}\n\nmsg.payload.state = \"on\";\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 240,
        "wires": [
            [
                "6b30d78ce40a8d17"
            ]
        ]
    },
    {
        "id": "374d8e8df8e36ea1",
        "type": "inject",
        "z": "a4b8be9105548a3c",
        "name": "Init Vars",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "0cdf9e9bb821378d"
            ]
        ]
    },
    {
        "id": "0cdf9e9bb821378d",
        "type": "function",
        "z": "a4b8be9105548a3c",
        "name": "Set Initial Bulb State",
        "func": "if (flow.get(\"bulbState\") === undefined) {\n    var bulb = {\n        \"state\": \"off\",\n        \"brightness\": 100\n    };\n    flow.set(\"bulbState\", bulb);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f618e7c44e1141c8",
        "type": "comment",
        "z": "a4b8be9105548a3c",
        "name": "Subflow: IKEA RODRET Controller and IKEA TRADFRI or Philips Hue Light",
        "info": "",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "1b810cc64485f46f",
        "type": "function",
        "z": "a4b8be9105548a3c",
        "name": "Brightness Move Up",
        "func": "// Brightness Move Up\n\nmsg.payload = {\n    \"brightness_move_onoff\": env.get(\"dimmerStep\")\n};\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "6b30d78ce40a8d17"
            ]
        ]
    },
    {
        "id": "7448a65910d4718e",
        "type": "change",
        "z": "a4b8be9105548a3c",
        "name": "Brightness Move Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"brightness_move\": 0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "6b30d78ce40a8d17"
            ]
        ]
    },
    {
        "id": "d5eb4c4d7856c0f2",
        "type": "function",
        "z": "a4b8be9105548a3c",
        "name": "Brightness Move Down",
        "func": "// Brightness Move Down\n\nmsg.payload = {\n    \"brightness_move_onoff\": -env.get(\"dimmerStep\")\n};\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "6b30d78ce40a8d17"
            ]
        ]
    },
    {
        "id": "6b30d78ce40a8d17",
        "type": "change",
        "z": "a4b8be9105548a3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "lightOutTopic",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "92389a82186fb042",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]